* {}

nav {
    background-color: rgb(11, 68, 11);
}

nav span{
    color: white;
}
.principal {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.register-principal {
    width: 100%;
    height: auto;
}

.form-dni {
    display: flex;
    flex-direction: column;
}

.email-input {
    width: 80%;
}

.dni-button {
    width: calc(20% - 10px);
    font-size: 12px;
}

.dni_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disabled-input {
    background-color: rgb(212, 212, 212) !important;
}